:root {
    --branco: #fff;
    --quase-branco: #ece6f6;
    --cinza-claro: #cbc5d3;
    --roxo: #523f6d;
    --roxo-escuro: #413256;
    --verde-limao: #a3b745;
    --verde-mato: #829237;
    --verde-musgo: #536017;
}

// links
a {
    color: var(--verde-mato);
}

a:active,
a:focus,
a:hover {
    color: var(--verde-limao);
}

div#wpadminbar {
    color: var(--branco);
    background-color: var(--roxo);
}

ul#adminmenu,
div#adminmenuback,
div#adminmenuwrap {
    background-color: var(--roxo);
}

ul#adminmenu .wp-has-current-submenu .wp-submenu,
ul#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
ul#adminmenu .wp-submenu,
ul#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
div#wpadminbar .menupop .ab-sub-wrapper {
    background-color: var(--roxo-escuro);
}

div#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
div#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
div#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
div#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
div#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    background-color: var(--roxo-escuro);
    color: var(--verde-limao);
}

div#wpadminbar:not(.mobile) li:hover #adminbarsearch:before,
div#wpadminbar:not(.mobile) li:hover .ab-icon:before,
div#wpadminbar:not(.mobile) li:hover .ab-item:after,
div#wpadminbar:not(.mobile) li:hover .ab-item:before,
div#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
div#wpadminbar .quicklinks .menupop ul li a:focus,
div#wpadminbar .quicklinks .menupop ul li a:focus strong,
div#wpadminbar .quicklinks .menupop ul li a:hover,
div#wpadminbar .quicklinks .menupop ul li a:hover strong,
div#wpadminbar .quicklinks .menupop.hover ul li a:focus,
div#wpadminbar .quicklinks .menupop.hover ul li a:hover,
div#wpadminbar li #adminbarsearch.adminbar-focused:before,
div#wpadminbar li .ab-item:focus .ab-icon:before,
div#wpadminbar li .ab-item:focus:before,
div#wpadminbar li a:focus .ab-icon:before,
div#wpadminbar li.hover .ab-icon:before,
div#wpadminbar li.hover .ab-item:before,
div#wpadminbar li:hover #adminbarsearch:before,
div#wpadminbar li:hover .ab-icon:before,
div#wpadminbar li:hover .ab-item:before,
div#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
div#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
div#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,
div#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
div#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
ul#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
ul#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
ul#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
ul#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover,
ul#adminmenu .wp-submenu a:focus,
ul#adminmenu .wp-submenu a:hover,
ul#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
ul#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
button#collapse-button:focus,
button#collapse-button:hover {
    color: var(--verde-limao);
}

ul#adminmenu .wp-has-current-submenu .wp-submenu a,
ul#adminmenu .wp-has-current-submenu.opensub .wp-submenu a,
ul#adminmenu .wp-submenu a,
ul#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a {
    color: var(--cinza-claro);
}

ul#adminmenu div.wp-menu-image:before,
ul#adminmenu li a:focus div.wp-menu-image:before,
ul#adminmenu li.opensub div.wp-menu-image:before,
ul#adminmenu li:hover div.wp-menu-image:before,
button#collapse-button {
    color: var(--quase-branco);
}

#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:hover,
#comment-status-display,
#dashboard_right_now .versions .b,
#ed_reply_toolbar #ed_reply_strong,
#pass-strength-result.short,
#pass-strength-result.strong,
#post-status-display,
#post-visibility-display,
.feature-filter .feature-name,
.item-controls .item-order a,
.media-item .percent,
.plugins .name {
    color: var(--branco);
    font-weight: 600;
}

ul#adminmenu li.current a.menu-top,
ul#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
ul#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded ul#adminmenu li.current.menu-top,
ul#adminmenu a:hover,
ul#adminmenu li.menu-top:hover,
ul#adminmenu li.opensub > a.menu-top,
ul#adminmenu li > a.menu-top:focus {
    background-color: var(--verde-limao);
    color: var(--branco);
}

// botões

body.wp-core-ui .button,
body.wp-core-ui .button-secondary,
body.elementor-editor-active button#elementor-switch-mode-button,
.components-button.is-secondary,
.components-button.is-tertiary,
.components-button {
    color: var(--verde-mato);
    border-color: var(--verde-mato);
}

body.wp-core-ui .button-primary,
.components-button.is-primary {
    color: var(--branco);
    border-color: var(--verde-mato);
    background-color: var(--verde-mato);
}

// Botões hover

body.wp-core-ui .button-secondary:hover,
body.wp-core-ui .button.hover,
body.wp-core-ui .button:hover,
div.wrap .page-title-action,
div.wrap .page-title-action:active,
body.elementor-editor-active button#elementor-switch-mode-button,
.components-button.is-secondary:hover:not(:disabled),
.components-button.is-tertiary:hover:not(:disabled),
.components-button:hover,
.components-button[aria-expanded="true"] {
    color: var(--verde-limao);
    border-color: var(--verde-limao);
}

.components-button.is-secondary:hover:not(:disabled),
.components-button.is-tertiary:hover:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--verde-limao);
}

body.wp-core-ui .button-primary.focus,
body.wp-core-ui .button-primary.hover,
body.wp-core-ui .button-primary:focus,
body.wp-core-ui .button-primary:hover,
.components-button.is-primary:hover:not(:disabled) {
    color: var(--branco);
    border-color: var(--verde-musgo);
    background-color: var(--verde-musgo);
}
